{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
     <div class="col-sm-11 offset-sm-1">
      <div class="row">
       <div class="col-sm-6">
           <div class="card">
               <div class="card-body">
                   <h3><strong>Developer-1</strong></h3>
                <span style="font-size: 20px;"><strong>Name: </strong>Fahim Nizamee
                </span> <br>
                <span style="font-size: 20px;"><strong>ID: </strong>C211082
                </span>
                <br>
                <span style="font-size: 20px;"><strong>Section: </strong>3CM
                </span>
                <br>
                <span style="font-size: 20px;"><strong>Address: </strong>Mirsarai,Chittagong
                </span>
                <br>
                <span style="font-size: 20px;"><strong>Contact: </strong>01882-375559
                </span>
                <br>
                <hr>
                <a href="whatsapp://send?abid=+8801882375559&text=Hello%2C%20World!">
                    <img src="{% static '/app/images/whatsapp.png' %}" alt="whatsapp" width="45px">
                </a>
                <a href="https://github.com/Fahim-Nizamee">
                    <img src="{% static '/app/images/github.png' %}" alt="github" width="40px">
                </a>
                <a href="https://www.facebook.com/fahim.nizamee">
                    <img src="{% static '/app/images/facebook.png' %}" alt="facebook" width="55px">
                </a>
               </div>
           </div>
           
       </div>

       <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3><strong>Developer-2</strong></h3>
             <span style="font-size: 20px;"><strong>Name: </strong>Junaid Al Mahin
             </span> <br>
             <span style="font-size: 20px;"><strong>ID: </strong>C211091
             </span>
             <br>
             <span style="font-size: 20px;"><strong>Section: </strong>3CM
             </span>
             <br>
             <span style="font-size: 20px;"><strong>Address: </strong>Chittagong
             </span>
             <br>
             <span style="font-size: 20px;"><strong>Contact: </strong>01521-535994
             </span>
             <br>
             <hr>
             <a href="whatsapp://send?abid=+8801521535994&text=Hello%2C%20World!">
                <img src="{% static '/app/images/whatsapp.png' %}" alt="whatsapp" width="45px">
            </a>
            <a href="https://github.com/Creed667">
                <img src="{% static '/app/images/github.png' %}" alt="github" width="40px">
            </a>
            <a href="https://www.facebook.com/assasins.creed.1806">
                <img src="{% static '/app/images/facebook.png' %}" alt="facebook" width="55px">
            </a>
            </div>
        </div>
        
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3><strong>Developer-3</strong></h3>
             <span style="font-size: 20px;"><strong>Name: </strong>Mohammad Abu Huraira Saim
             </span> <br>
             <span style="font-size: 20px;"><strong>ID: </strong>C211082
             </span>
             <br>
             <span style="font-size: 20px;"><strong>Section: </strong>3CM
             </span>
             <br>
             <span style="font-size: 20px;"><strong>Address: </strong>Baluchara,Chittagong
             </span>
             <br>
             <span style="font-size: 20px;"><strong>Contact: </strong>01760-952603
             </span>
             <br>
             <hr>
             <a href="whatsapp://send?abid=+8801760952603&text=Hello%2C%20World!">
                <img src="{% static '/app/images/whatsapp.png' %}" alt="whatsapp" width="45px">
            </a>
            <a href="https://github.com/ahsaim04">
                <img src="{% static '/app/images/github.png' %}" alt="github" width="40px">
            </a>
            <a href="https://www.facebook.com/ahsaim04">
                <img src="{% static '/app/images/facebook.png' %}" alt="facebook" width="55px">
            </a>
            </div>
        </div>
        
    </div>

       </div>
      </div>
     </div>
    </div>
   </div>
{% endblock main-content %}