{% extends 'app/base.html' %}
{% load static %}
{% block title %}Reset Password Done{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
    <div><iframe src="https://giphy.com/embed/tf9jjMcO77YzV4YPwE" width="200" height="200" frameborder="0" class="giphy-embed" allowfullscreen></iframe></div>
   <h4 class="alert-heading">Well done!</h4>
   <p>An Email has been sent to reset you password. <b>Check your Email</b></p>
  </div>
 </div>
</div>
{% endblock main-content %}